<body class="login-page">
    <h1 class="main-h1-h2">Login</h1>

    <form action="/account/login" method="POST" class="login-form" id="space">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit" class="login-bt">Login</button>
    </form>

    <p id="space">Don't have an account? <a href="/account/register" id="login-a">Register here</a></p>
</body>
