
<body>
    <h1 class="main-h1-h2">Internal Server Error</h1>
    <p class="main-h1-h2">Something went wrong on our side. Please try again later.</p>
    <a class="main-h1-h2" href="/notes">Go back to Home</a>
</body>
